<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-musteri-heading"
        data-cy="MusteriCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.musteri.home.createOrEditLabel"
      >
        Create or edit a Musteri
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jhipsterSampleApplicationApp.musteri.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let adRef = editForm.get('ad')!;
        <div class="mb-3">
          <label class="form-label" for="field_ad" jhiTranslate="jhipsterSampleApplicationApp.musteri.ad">Ad</label>
          <input type="text" class="form-control" name="ad" id="field_ad" data-cy="ad" formControlName="ad" />
          @if (adRef.invalid && (adRef.dirty || adRef.touched)) {
            <div>
              @if (editForm.get('ad')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_soyad" jhiTranslate="jhipsterSampleApplicationApp.musteri.soyad">Soyad</label>
          <input type="text" class="form-control" name="soyad" id="field_soyad" data-cy="soyad" formControlName="soyad" />
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="jhipsterSampleApplicationApp.musteri.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefon" jhiTranslate="jhipsterSampleApplicationApp.musteri.telefon">Telefon</label>
          <input type="text" class="form-control" name="telefon" id="field_telefon" data-cy="telefon" formControlName="telefon" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_adres" jhiTranslate="jhipsterSampleApplicationApp.musteri.adres">Adres</label>
          <input type="text" class="form-control" name="adres" id="field_adres" data-cy="adres" formControlName="adres" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_kayitTarihi" jhiTranslate="jhipsterSampleApplicationApp.musteri.kayitTarihi"
            >Kayit Tarihi</label
          >
          <div class="d-flex">
            <input
              id="field_kayitTarihi"
              data-cy="kayitTarihi"
              type="datetime-local"
              class="form-control"
              name="kayitTarihi"
              formControlName="kayitTarihi"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
